src/main/mule/cicdtest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="29c5b205-8fe7-45a4-a8ac-cd1e9889b268" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdtestFlow" doc:id="4e735a44-526e-40eb-86af-df172e803d37" >
		<http:listener doc:name="Listener" doc:id="20365676-0faf-478d-8a48-a658eba6f062" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value="#['henok']" doc:name="Set Payload" doc:id="33c4850b-387d-4d00-8b43-92931a96c5f1" />
	</flow>
</mule>
